.CADroppedBox-container{
    //border: 1px solid black;
    word-wrap: break-word;
    display: inline-block;
    justify-content: center;
}

.CADroppedBox-container-content{
    margin-top: 30%; 
    font-size: 8px;
    font-weight: bold;
}