.CLLibraryBox-container{
    border: 1px solid black;
    word-wrap: break-word;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}

.CLLibraryBox-container-content{
    margin-top: 30%; 
    font-size: 8px;
}